@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');


:root{
  background: #000;
  color: rgba(189, 189, 189, 0.838);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-weight: bold;
}
::-webkit-scrollbar{
  display: none;
}
.primerytext{
  color: #00c5ac;
}
.primerybg{
  background: #00c5ac;
}
.secondarytext{
  color: #ff8200a8;
}



